<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{fragment:: parent(~{::.container}, ~{::title},~{script})}"
>
  <head>
    <title th:text="${loggedInUser.name}">Profile Page</title>
  </head>
  <body>
    <div class="container">
      <div>
        <!-- sider for login user  -->
        <!-- if user is loggedIn :then siderbar  -->
        <div th:if="${loggedInUser}">
          <div th:replace="~{user/siderbar}"></div>
        </div>

        <h1>Welcome to Profile page</h1>
      </div>
    </div>
    <script>
      console.log("profile page ");
    </script>
  </body>
</html>
