<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{fragment:: parent(~{::.container}, ~{::title},~{script})}"
>
  <head>
    <title th:text="${loggedInUser.name}">Profile Page</title>
  </head>
  <body>
    <div class="container bg-red-400">
      <h1>Welcome to the profile page</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id voluptate
        libero praesentium dolorum eveniet hic dicta ut excepturi exercitationem
        eum nobis quae debitis, cum fuga? Cum expedita mollitia laborum
        deleniti.
      </p>
    </div>
    <script>
      console.log("profile page ");
    </script>
  </body>
</html>
